*.la
*.o
*.lo
.libs/
.deps/
.dirstamp
m4/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
std_blocks/lfds_buffers/liblfds611/bin/
std_blocks/lfds_buffers/liblfds611/obj/
