*.la
*.o
*.lo
*.hexarr
.libs/
.deps/
.dirstamp
m4/
aclocal-copy/
x86_64-poky-linux-libtool
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
std_blocks/lfds_buffers/liblfds611/bin/
std_blocks/lfds_buffers/liblfds611/obj/
libubx/ubx0.pc
lua/ubx.lua
libubx/ubx_proto.h
libubx/ubxrtl0.pc
tools/ubx-log
